@media (min-width: 32.5em){
    header img{ 
        float: right ;

    }


.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr  ;
  
    background-color: #000E1B;
    padding: 10px;
    grid-gap: 20px;
  
  }
  

  .grid-item1{
  
   
    grid-column: 1/4;
  
  }
  .grid-item1 img{
    width: 80%;
    padding: 5px;
  
  }

}



