
body{
  max-width: 960px;
  margin: 0 auto;
  padding: 50px;

}


h1{
  text-align: center;  
  color: ghostwhite;
  font-family:'Amatic SC', cursive ,arial, sans-serif;
  margin:  auto 100px;
}

h2,h3,h4{
  text-align: center;
  color:#000E1B;
}

header{

  align-items: center;
  background-color: #000E1B;
  border-radius: 2px;
  padding: 5px;
}
header a{
  font-style: none;
  text-underline-offset: none;
  padding: 10px;
  color: white;
}


footer{
 border-radius: 5px;
 text-align: center;
 background-color: #000E1B;
 color : white;
 margin-top: 100px ;
 padding: 10px;
}
footer a{
    color: white;
}


.grid-container{
  display: grid;
  grid-template-columns: 1fr ;
  background-color: #000E1B;
  padding: 10px;
  grid-gap: 20px;

}

.grid-container > div{
  background-color:white;
  border: 1px solid #000E1B;
  padding: 20px 0;
  font-size: 30px;
  text-align: center;

}
.grid-container  a{
 
  font-style: italic;
  color:#000E1B;

}


.grid-item1 > img{
  border-radius: 0%;
}
.grid-item1 > h2{
 font-style: italic;
}

img {
  width: 80%;
  border-radius: 20px;
  box-shadow: 2px 2px 5px gray;
}


p{
  color: black;
  padding: 10px;
  margin: 0 auto;
  font-size: medium;
} 

