@media (min-width: 32.5em){

    nav ul.mainNav{
        display:flex;
      }

    nav ul {
        display: flex;
        
       
    }
    
    nav ul li {
        flex: 1 1 100%;
        
    }

   
    nav button {
        display: none;
    }
    .stats {
        position: absolute;
  
    }
  
    /* gallery page css */

.gallery {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
img[data-src] {
    filter: blur(1.0em);
  }
  
  img {
    filter: blur(0em);
    transition: filter 1.0s;
    border-radius: 5px;
  }

}







