@media (min-width: 32.5em){

    nav ul.mainNav{
        display:flex;
      }

    nav ul {
        display: flex;
        
       
    }
    
    nav ul li {
        flex: 1 1 100%;
        
    }

   
    nav button {
        display: none;
    }
    .stats {
        position: absolute;
  
    }
  
    /* gallery page css */

.gallery {
	display: grid;
	grid-template-columns: 1fr 1fr;
}



 .weather-summary {
	   position: absolute;
	   top: 300px;
	   left: 100px;
	   font-size: 16px;
       border-radius: 5px;
	 }
	 
	 .weather-summary h3 {
	   font-size: 25px;
	 }


}


    






