@media (min-width: 32.5em){

    nav button {
        display: none;
    }

    nav ul {
        display: flex;
        
       
    }
    
    nav ul li {
        flex: 1 1 100%;
        
    }

   
    

 

    }




