
body{
    max-width: 100%;
    background-color: orange;
  
  }
 

  h1 img{
    display: inline-block;
  }



  h2{
    text-align: left;
  }
  
  header{
    
    background-color: #000E1B;
    padding: 5px 0;
    display: flex;
    align-items:center;
    justify-content:center;

  }
   
  header img{ 
    width: 100px;
    height: auto;
   
  }

  .headings {
    display: flex;
    flex-direction: column;
  }
  .headings h1 {
    font-size: 40px;
    margin: 0 0 0 17px;
    text-align: center;  
    color: white;
    font-family: 'Amatic SC', cursive,sans-serif ,arial; 
    
  }
  
  .text-wrapper{
    text-align: right;
    background-color: grey;
    color: yellow;
    padding: 5px;
    
    border-radius: 5px;
 
  


 
  }
  .theme {
    font-style: italic;
    letter-spacing: 1pt;
    color: white;
    margin-left: 20px;
    font-size: .9rem;
   
  }
nav{
  padding: 10px;
}

  nav ul{
   display: block;
   list-style: none;
   margin: 0 auto;
   padding: 0;
   
  }
  
  nav ul li { 
    flex: 1 1 100%; 
    margin: 0 auto;
    font-size: 17px;
    list-style-type: none;
    text-align: center;
    font-weight: bolder;
   
  
   } 

   nav ul li.active a {
    background-color: #000E1B;
    color: white;
    padding: 5px;
    border-radius: 5px;
}


   #nav li a:active {
    background: green;
    color: #ffffff;
}



   nav ul li  a{
    color: black;
    text-decoration: none;
    padding: 0;
    margin: 0;
   
   }
   
   nav ul li a:hover {
    background-color: blue;
    padding: 10px;
  }
 

  nav button {

    padding: 10px 14px;
    background-color:#000E1B;
    color: whitesmoke;
    border: none; 
    border-radius: 5px;
    border-width: 0 10px;
    margin: 0.5rem 6%;
    font-size: 16px; 
    
}

nav ul.mainNav{
  display:none;
}

  main{
    background-color: white;
    padding: 10px;
  }
  .main-page{
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
  
  }

 main p{
    padding: 10px;
    background-color: gainsboro;
  }
  main h2{
    text-align: center;
  }
  .empty-container1{
    box-sizing: border-box;
    width: 100%;
    border: solid #000E1B 1px;
    background-color: gainsboro;
    padding: 5px;
    margin: 2px;
    
  }
  .empty-container2{
    box-sizing: border-box;
    width: 100%;
    border: solid #000E1B 1px;
    background-color: gainsboro;
    padding: 5px;
    margin: 2px;
  }
  .empty-container3{
    box-sizing: border-box;
    width: 100%;
    border: solid #000E1B 1px;
    background-color: gainsboro;
    padding: 5px;
    margin: 2px;
    
  }

  
  footer{
   border-radius: 5px;
   text-align: center;
   background-color: #000E1B;
   color : white;
   margin-top: 100px ;
   padding: 10px;
  }
  footer a{
      color: white;
  }

  img{
    width: 100%;
  }

  .contact-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr  ;
    grid-gap:2px;
    background-color: grey;

  }

  .contacts1 img{
    max-width: 10%;
    border-radius: 5px;
  }
  .contacts1{
    grid-column: 2/3;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 2px;
  
  
  }
  .second-item{
   grid-column: 3/4;
	grid-row: 1 ;
    padding: 10px;
    margin: 2px;
  
  }



  h2{
    text-align: center;
  }
  .herodiv{
    width: 960px;
    height: 300px;
    margin: 10px auto;
    position: relative;
    border: 1px dashed cyan;
  }
  
  .hero-ph{
    margin: 10px auto;
    padding: 10px;
    background-color: #eee;
    border:  1px solid grey;
    width: 90%;
    height:250px;
  
  }
  
  .weathersummary{
    position: absolute;
    top: 60px;
    left: 70px;
    background: radial-gradient(green, lightgreen);
    border: 1px solid green;
    margin: 10px auto;
    padding: 10px;
    box-shadow: 0 0 30px #777;
  }

  .article1{

    display: block;
 
  }


  .article1 img{
    max-width: 25%;
    border-radius: 5px;
    float: left;
    margin-left: 15px;
    margin-bottom: 5px;
    padding: 5px;



  }



  /* Grid */
.grid { 
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(30px,1fr));
 

}
.grid-col {
	background-color: #000E1B;
  padding: 10px;
  margin:2px;
}

.weather-focust img{
  max-width: 30%;

}
.weather-focust h2{
  background-color:#ccc;
  padding: 10px;
  
  margin: 0;
}

.stats {
	position: sticky;
	top: 300px;
	right: 1000px;
	background: radial-gradient(#eee, orange );
	border: 1px solid #000;
	padding: 1.5rem;
	box-shadow: 0 0 30px #000E1B ;
	opacity: .9;
}


.grid span{
  color: white;
 
}
