
.town-data {
  font-family: 'Arial', sans-serif;
  text-align: center;
  padding-top: 30px;
  background-color: gainsboro;
}

.town-data section {
  padding-bottom: 20px;
  margin-bottom: 30px;
  border:5px solid #000E1B;
  border-radius: 5px;
  
}

.town-data section h3{
  margin-bottom: 0;
 
}

.town-data section h4 {
	font-style: italic;
	line-height: 30px;
  margin-top: 5px;

}

.town-data section img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

.idaho-infor p{
  padding: 30px;
  margin: 0 auto;
}

.weather-history{
  text-align: center;

}

@media only screen and (min-width: 640px) and (max-width: 960px){
  .town-data {
    padding: 30px 30px;
    
    }
  
  .town-data section {
   
    border: 2px solid #000E1B;
    padding: 0 0 20px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
   
  }
  
  .town-data section:nth-child(odd) img {
    grid-column: 2;
  }
  
  .town-data section:nth-child(odd) .town-info {
    grid-column: 1;
    grid-row: 1;
  }
  
  .town-data img {
    max-width: 50%;
    height: auto;
    padding:0;
  }
  
  .town-info h3{
    font-size: 22px;
  }
  
  .town-data section h4 {
    font-style: italic;
    line-height: 25px;
    margin-top: 5px;
    font-size: 18px;
  }




  }

  @media only screen and (min-width: 960px) {
    .town-data {
      padding: 25px 25px;
      }
    
    .town-data section{
      border: 2px solid #000E1B;
      padding: 0;
    
    }
    
    .town-data section h3{
      font-size: 25px;
      margin-bottom: 0;
    }
    .town-data section p{
      font-size: 18px;
    }
    
    .town-data section h4 {
      font-style: italic;
      line-height: 20px;
      margin-top: 10px;
      font-size: 17px;
    }
    
    .town-data{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 20px;
    }
    
    .town-data section img {
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      max-width: 100%;
      height: auto;
      margin-top: 0;
      }
    
   
    
    }


  
    